.map-search {
    border-top: 100px solid #000;
    float: left;
    left: 0;
    overflow: hidden;
    padding-top: 35px;
    position: relative;
    width: 100%;

}
.map-search .top_Section {
    background: none repeat scroll 0 0 #f5f5f5;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px 0;
    float: left;
    padding: 0 1.5%;
    width: 97%;
}
.map-search .top_Section .button_section {
    float: left;
    margin-top: -27px;
    width: 100%;
}
.map-search .top_Section .left_button {
    float: left;
    width: 50%;
}
.map-search .top_Section .left_button ul.buy_rent {
    float: left;
    font-family: Arial;
    margin: 0;
    padding: 0;
    width: 100%;
}
.map-search .top_Section .left_button ul.buy_rent li {
    float: left;
    list-style: outside none none;
    margin: 0 5px 0 0;
    padding: 0;
}
.map-search .top_Section .left_button ul.buy_rent li a {
    background: none repeat scroll 0 0 #5c5c5c;
    border-color: #ccc;
    border-radius: 5px 5px 0 0;
    border-style: solid;
    border-width: 1px 1px 0;
    color: #fff;
    float: left;
    font-family: arial;
    font-size: 13px;
    padding: 5px 15px;
    text-decoration: none;
    text-transform: uppercase;
}
.map-search .top_Section .left_button ul.buy_rent li a:hover {
    opacity: 0.7;
}
.map-search .top_Section .left_button ul.buy_rent li.select a {
    background: none repeat scroll 0 0 #f5f5f5;
    color: #565656;
}
.map-search .top_Section .right_button {
    float: right;
    margin-top: 0;
    text-align: right;
    width: 50%;
}
.map-search .top_Section .right_button a.listview {
    background: url("/public/assets/map/images/map_search_sprite.png?v=1252") no-repeat scroll 0 -424px #5c5c5c;
    border-radius: 4px;
    color: #fff;
    float: right;
    font-family: Arial;
    font-size: 12px;
    padding: 4px 7px 4px 25px;
    text-decoration: none;
}
.map-search .top_Section .right_button a.listview:hover {
    background-color: #f38218;
}
.map-search .top_Section .search_filter {
    float: left;
    font-family: Arial;
    width: 100%;
}
.map-search .top_Section .search_filter .left {
    background: url("/public/assets/map/images/tbg.png?v=1256") no-repeat scroll right top transparent;
    border-right: 0 solid;
    float: left;
    width: 40%;
}
.map-search .top_Section .search_filter .right {
    float: left;
    margin-left: 2%;
    width: 58%;
}
.map-search .top_Section .search_filter .filter_col {
    float: left;
    margin: 10px 1% 10px 0;
}
.map-search .top_Section .search_filter .city_list {
    width: 24%;
}
.map-search .top_Section .search_filter .location_list {
    width: 74%;
}
.map-search .top_Section .search_filter .property_type {
    width: 25%;
}
.map-search .top_Section .search_filter .bedroom {
    width: 25%;
}
.map-search .top_Section .search_filter .budget {
    width: 30%;
}
.map-search .top_Section .search_filter .more_filter {
    margin-right: 0;
    width: 13%;
}
.map-search .top_Section .search_filter .city_list .chzn-container-single .chzn-drop {
    border-top: 1px solid #ccc;
    top: 33px !important;
    width: 165px !important;
}
.map-search .top_Section .search_filter .filter_col .lable {
    color: #777;
    float: left;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
    width: 100%;
}
.map-search .top_Section .search_filter .filter_col .filter_box {
    float: left;
    position: relative;
    width: 100%;
}
.map-search .top_Section .search_filter .filter_col input.location, .map-search .top_Section .builder-input {
    background-image: none !important;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #666;
    float: left;
    font-size: 14px;
    height: 20px;
    outline: medium none;
    padding: 5px;
    width: 96%;
}
.map-search .top_Section .search_filter .filter_col .budget_section {
    float: left;
    width: 40%;
}
.map-search .top_Section .search_filter .filter_col .to {
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin: 10px 5px 0;
}
.map-search .top_Section .search_filter a.clear_filter {
    color: #666;
    float: left;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    margin: 13px 0 2px;
    text-decoration: underline;
    width: 100%;
}
.map-search .top_Section .search_filter a.clear_filter:hover {
    color: #666;
    text-decoration: none;
}
.map-search .top_Section .search_filter .more_filter_box {
    float: left;
    position: relative;
    width: 100%;
    z-index: 100;
}
.map-search .top_Section .search_filter .Show_more_filter {
    display: none;
    left: -180px;
    padding: 0;
    position: absolute;
    top: 32px;
    width: 267px;
    z-index: 1000;
}
.map-search .top_Section .search_filter a.more_filter_h {
    color: #666;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}
.map-search .top_Section .search_filter a.more_filter_h:hover {
    color: #333;
}
.map-search .top_Section .search_filter a.more_filter_h span {
    background: url("/public/assets/map/images/map_search_sprite.png") repeat-x scroll -81px -225px rgba(0, 0, 0, 0);
    float: right;
    height: 10px;
    margin: 8px 15px 0 0;
    width: 10px;
}
.map-search .top_Section .search_filter a.more_filter_h span.openbox {
    background-position: -98px -225px;
}
.map-search .top_Section .search_filter .more_filter_table {
    color: #333;
    font-family: Arial;
    font-size: 12px;
    width: 100%;
}
.map-search .top_Section .search_filter .more_filter_table tr th {
}
.map-search .top_Section .search_filter .more_filter_table tr td {
    border-bottom: 1px solid #ccc;
    padding: 5px 0 15px;
}
.map-search .top_Section .search_filter .more_filter_table tr td input[type="checkbox"] {
    float: left;
    margin: 0 3px 0 0;
}
.map-search .top_Section .search_filter .more_filter_table tr td input[type="radio"] {
    float: left;
    margin: 0 3px 0 0;
}
.map-search .top_Section .search_filter .more_filter_table tr td label {
    float: left;
    margin: 0 10px 10px 0;
}
.map-search .top_Section .search_filter .more_filter_table tr td.filter_lable {
    border-bottom: 0 none;
    font-weight: bold;
    padding: 15px 0 0;
}
.map-search .top_Section .search_filter .more_filter_table tr td .buildup_area {
    border: 1px solid #ccc;
    padding: 2px;
    width: 75px;
}
.map-search .top_Section .search_filter .more_filter_table tr td .middle_text {
    margin: 0 5px;
}
.map-search .top_Section .search_filter .more_filter_table tr td .two_wheeler, .map-search .top_Section .search_filter .more_filter_table tr td .four_wheeler {
    background: url("images/2wheeler_4wheeler.png") no-repeat scroll 0 5px rgba(0, 0, 0, 0);
    float: left;
    margin: 0 0 10px;
    padding-left: 25px;
    width: 215px;
}
.map-search .top_Section .search_filter .more_filter_table tr td .two_wheeler input, .map-search .top_Section .search_filter .more_filter_table tr td .four_wheeler input {
    border: 1px solid #ccc;
    padding: 2px;
    width: 75px;
}
.map-search .top_Section .search_filter .more_filter_table tr td .four_wheeler {
    background-position: 0 -20px;
    margin-right: 0;
}
.map-search .top_Section .search_filter .more_filter_table tr td .direction {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}

.map-search .controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.map-search #pac-input {
    background-color: #fff;
    padding: 0 11px 0 13px;
    width: 400px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
}

.map-search #pac-input:focus {
    border-color: #4d90fe;
    margin-left: -1px;
    padding-left: 14px;  /* Regular padding-left + 1. */
    width: 401px;
}

.map-search .pac-container {
    font-family: Roboto;
}

.map-search .map_section {
    float: left;
    /*height: 85%;*/
    height: 700px;
    position: relative;
    width: 100%;
    /*z-index: 99;*/
}

.map-search .map_section .main-map-holder{
    background: none repeat scroll 0 0 #fff;
    height: 600px;
    position: absolute;
    width: 100%;
}
.left-pane{
    background-color: #fff;
    border-bottom: 1px solid #999;
    border-top: 2px solid #f39c4a;
    box-shadow: 1px 1px 3px #999, -1px 0 3px #999;
    height: 517px;
    left: 2px;
    position: absolute;
    top: 1px;
    width: 270px;
    z-index: 200;
}
.listing-no{
    background-color: #f4f4f4;
    width: 100%;
}
.count-listing{
    color: #000;
    float: left;
    font: 11px Arial;
    padding: 9px 10px 5px;
}

.count-listing > span {
    font-size: 14px;
    font-weight: bold;
}

.content-pane{
    background: none repeat scroll 0 0 #fff;
    margin-top: 4px;
    overflow: auto;
    padding: 0;
    width: 100%;
    height: 435px;
}

.left-pane-data{

}

.left-pane-data ul.listing-details{
    border-top: 1px solid #f1f1f1;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.left-pane-data ul.listing-details li{
    border-bottom: 1px solid #f1f1f1;
    cursor: pointer;
    font: 11px Arial;
    list-style: none outside none;
    margin-left: 0;
    padding: 0 10px 10px;
    position: relative;
    width: 100%;
}
.left-pane-data ul.listing-details li:hover{
    background-color: #f1f1f1;
}
.left-pane-data ul.listing-details li .property-name{
    color: #333;
    display: block;
    font-weight: bold;
    overflow: hidden;
    padding-top: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.left-pane-data ul.listing-details li .property-img{
    height: 40px;
    margin-right: 10px;
    position: relative;
    width: 40px;
}

.left-pane-data ul.listing-details li .property-info{
    /*height: 40px;*/
    margin-right: 10px;
    position: relative;
    width: 40px;
    width: 145px;
}

.floatLeft {
    float: left;
}

.clearFix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.clearFix {
    display: inline-block;
}

.premium-listing {

    background: url("../images/map.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-position: -154px -30px;
    float: left;
    height: 15px;
    margin-right: 5px;
    top: 0;
    width: 11px;
}

.close_left_pane {
    background-color: #fff;
    box-shadow: -1px 1px 2px #999;
    cursor: pointer;
    height: 25px;
    padding: 4px 0;
    position: absolute;
    right: -19px;
    top: 32px;
    width: 18px;
    z-index: 200;
}
.close_left_pane > .icon{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;

    border-image: none;
    border-style: solid;
    border-width: 6px;
    display: inline-block;
    height: 0;
    width: 0;
    cursor: pointer;
}
.close_left_pane_icon {
    border-color: transparent #ff9933 transparent transparent;
}

.open_left_pane_icon {
    border-color: transparent transparent transparent #ff9933;
}

#main-map img { max-width: none; }
.right-pane{
    background-color: #fff;
    border-bottom: 1px solid #999;
    border-top: 2px solid #f39c4a;
    box-shadow: 1px 1px 3px #999, -1px 0 3px #999;
    height: 89%;
    right: 0;
    position: absolute;
    top: 0.4%;
    width: 250px;
    z-index: 200;
}

.close-icon{
    background: url("../images/map.png") no-repeat scroll -417px -53px rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 15px;
    left: -16px;
    position: absolute;
    top: -1px;
    width: 15px;
}